# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Packaging & Distribution
build/
dist/
*.egg-info/
*.egg

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Environments & IDEs
.venv/
venv/
.env
.idea/
.vscode/
.DS_Store
.local/
